/* @import url(https://fonts.googleapis.com/css?family=Roboto); */
*{
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

body{
    box-sizing: border-box;
    font-size: 15px;
}

div{
    box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(175, 175, 175); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(95, 95, 95); 
}

main{
  width: 100%;
}

.row{
  width: 100%;
  display: flex;
  flex-direction: row;
}

.column{
  flex: 1;
  display: flex;
  flex-direction: column;
}

.column-half{
  max-width: 50vw;
  min-width: 50vw;
}

.container{
  box-sizing: border-box;
  padding: 5px;
  border: 1px solid black;
  border-radius:  7px;
  margin: 5px;
}

.chart{
  /* max-width: 400px; */
  box-sizing: border-box;
  overflow-x: auto;
  overflow-y: hidden;
}


.card{
  height: auto;
  min-height: 90px;

  display: flex;
  flex-direction: column;
  align-items: center;

  color: grey;
}

.card .title{
  flex: 1;
  font-size: .9rem;
  text-transform: capitalize;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card .body{
  flex: 3;
  font-size: 1.4rem;
  font-weight: bold;

  display: flex;
  flex-direction: column;
  justify-content: center;
}


.select{
  box-sizing: border-box;
  display: block;
  min-width: 250px;
  margin: 10px;
}

.mr-2{
  margin-right: 10px;
}

.ui-slider-horizontal{
  height: .3rem;
}

.ui-slider .ui-slider-handle{
  height: 1rem;
  width: 1rem;
}


.table{
  width: 100%;
  overflow: auto;
}

#myTable thead tr th{
  background-color: rgb(186, 188, 189);
}

.tright{
  text-align: right;
}

.tcenter{
  text-align: center;
}